### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
target/

###project files##
log/error/
log/info/
tls/
.gitignore

### VS Code ###
.vscode/

### Android ###
.gradle
build/
.DS_Store
captures
.externalNativeBuild
.cxx
