.root {
    -fx-background-color: #538682; /* 设置背景颜色 */
}

.text-area {
    -fx-control-inner-background: #1a0606; /* 设置文本区域内部背景颜色 */
    -fx-border-color: #0e2285; /* 设置边框颜色 */
    -fx-border-width: 1px; /* 设置边框宽度 */
}

/* styles.css */
.button {
    -fx-background-color: #2f00ff; /* 按钮背景颜色 */
    -fx-text-fill: white; /* 按钮文字颜色 */
    -fx-padding: 10px; /* 按钮内边距 */
    -fx-font-size: 14px; /* 按钮字体大小 */
}
.button:hover {
    -fx-background-color: #39add7; /* 鼠标悬停时的背景颜色 */
}


.tooltip-label {
    -fx-text-fill: blue; /* 设置字体颜色为蓝色 */
    -fx-cursor: hand; /* 改变鼠标光标为手型 */
    -fx-padding: 0 5 0 5; /* 添加内边距 */
}

.tooltip-label:hover {
    -fx-font-size: 18px; /* 增大字体 */
    -fx-font-weight: bold; /* 鼠标悬停时加粗字体 */
    -fx-text-fill: darkblue; /* 鼠标悬停时改变颜色 */
}