/* styles.css */
.root {
    -fx-background-color: #866a53; /* 设置背景颜色 */
}

.text-area {
    -fx-background-color: #1a0606; /* 设置文本区域背景颜色 */
    -fx-border-color: #0e2285; /* 设置边框颜色 */
    -fx-border-width: 1px; /* 设置边框宽度 */
}

/* styles.css */
.button {
    -fx-background-color: #0048ff; /* 按钮背景颜色 */
    -fx-text-fill: white; /* 按钮文字颜色 */
    -fx-padding: 10px; /* 按钮内边距 */
    -fx-font-size: 14px; /* 按钮字体大小 */
}

.button:hover {
    -fx-background-color: #39d7c9; /* 鼠标悬停时的背景颜色 */
}